### Packages for More Extensive Testing and Scripting. ###
black
flake8

# =======
ipython==8.10.0  # 8-series of ipython has gives random error when reloading
# pytest>=6.0
# pytest-cov>=2.0
# mypy>=0.910
# flake8>=3.9
# tox>=3.24

pep8
autopep8
flake8
mypy

pre-commit
pytest

# For the robot class
sympy

# Parser / Lark
lark

# For using the newer learning libraries
scikit-learn
