### Packages for More Extensive Testing and Scripting. ###
black
flake8

# =======

ipython
# pytest>=6.0
# pytest-cov>=2.0
# mypy>=0.910
# flake8>=3.9
# tox>=3.24

pre-commit
pytest

# For the robot class
sympy


# Parser / Lark
lark


# For using the newer learning libraries
scikit-learn
